<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书签夹</title>
</head>
<body>
<div id="top" style="margin:0 auto; padding:0px; height:64px">
</div>
<div id="box" style="margin:0 auto; padding:0px; height:700px">
<div id="left"  align="left" style="width:300px;height:700px; float:left; background: #5FA">
<div id="left_left" align="left" style="height:700px;float:left;width:20px;">
</div>
<p>
<a href='/log/'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;书签夹</a>&nbsp;>&nbsp;
<li style="list-style:none;">
</li>
<li style="list-style:none;">
<a href="/log/ngfw/ngfw_qa/showTask/" style="text-decoration:none">
</a>
</li>
<li style="list-style:none;">
</li>
<li style="list-style:none;">
<a href="/log/ngfw/ngfw_qa/showModule/" style="text-decoration:none">
</a>
</li>
<li style="list-style:none;">
</li>
<li style="list-style:none;">
<a href="/log/ngfw/ngfw_qa/showCaseModule/" style="text-decoration:none">
</a>
</li>
<li style="list-style:none;">
</li>
<li style="list-style:none;">
<a href="/log/ngfw/ngfw_qa/showMailCfg/" style="text-decoration:none">
</a>
</li>
<li style="list-style:none;">
</li>
<li style="list-style:none;">
<a href="/log/ngfw/ngfw_qa/simpletask/" style="text-decoration:none">
</a>
</li>
</div>
<div id="right" style="height:700px; float:left; width:50%">
<form method="post" id="form1">
<table id="task_list" height="500">
<thead>
<th scope="col"  class="action-checkbox-column" height="20">
<div class="text"><span>
</span></div>
<div class="clear"></div>
</th>
<th scope="col"  class="column_task">
<div class="text" align="left">
<span>
书签文件夹列表
<a href="/log/ngfw/ngfw_qa/addTask/" style="text-decoration:none">
</span>
</div>
</th>
</tr>
</thead>
{% for task in mbDirList %}
<tr class="row">
<td class="action-checkbox" height="20"></td>
<td align="left">
<a href="/markbook/{{task.dir_name}}/" style="text-decoration:none">
{{task.dir_name}}
</a>
</td>
</tr>
{% endfor %}
</tbody>
<tr>
<td>
</td>
</tr>
</table>
</form>
</div>
</div>
</body>
</html>

